/*******************************************************************************
 * Intro
 ******************************************************************************/

#about aside {
  color: #000;
  padding: 30px 30px;
  float: right;
  background-color: rgba(255, 255, 255, .8);
  font-size: 1em;
}
#about aside h2 {
  color: #000;
}
#about aside ul {
  display: block;
  list-style: none;
  text-align: center;
  margin: 20px 0 0;
}
#about a {
  color: rgb(51, 51, 51);
}
@supports (not (text-decoration-color: rgba(51, 51, 51, 0.1))) {
  #about .accounts a .fa + span,
  #about .projects a {
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  }
  #about .accounts a:hover .fa + span,
  #about .projects a:hover {
    border-bottom: 1px solid rgba(51, 51, 51, 0.65);
  }
  #about .accounts .drupal .fa+span {
    width: 6ex;
    margin-right: 2ex;
  }
}
@supports (text-decoration-color: rgba(51, 51, 51, 0.1)) {
  #about .accounts a .fa + span,
  #about .projects a {
    text-decoration: underline rgba(51, 51, 51, 0.1);
  }
  #about .accounts a:hover .fa + span,
  #about .projects a:hover {
    text-decoration: underline rgba(51, 51, 51, 0.65);
  }
}
#about .accounts a {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#about .accounts .fa {
  margin-right: 0.25ex;
  width: 1.8ex;
}
#about .accounts .fa+span {
  width: 8ex;
  text-align: left;
}
#about .fa-drupal {
  color: #0678be;
}
#about .fa-twitter {
  color: #1DA1F2;
}
#about .projects {
  font-size: 0.8em;
}

#myplanet img {
  display: block;
  background: none;
  border: none;
  box-shadow: none;
}
#myplanet .logo {
  max-width: 30%;
  max-height: 30%;
  margin: auto;
}
#myplanet .locations {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  margin-top: 5%;
}
#myplanet .locations img {
  width: 12%;
  height: 12%;
}

#source ul {
  list-style: none;
}
#source li {
  text-align: center;
}
